.App {
  text-align: center;
  background-color: orange;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

#quote-box {
  width: 60%;
  height: auto;
  background-color: #f2f2f2;
  color: #333333;
  border-radius: 3px;
  display: grid;
  grid-template-rows: auto 90px;
}

#text-container {
  width: 90%;
  margin: auto;
  display: grid;
  grid-template-rows: auto auto;
  height: auto;
  padding-top: 40px;
  padding-bottom: 20px;
}

#author {
  justify-self: end;
}

#quote-box-footer {
  height: 100%;
  display: flex;
  align-items: center;
}

#tweet-quote {
  margin-left: 5%;
  background-color: orange;
  width: 100px;
  height: 40px;
  color: white;
  border-radius: 5px;
  border: 0px solid;
  margin-bottom: 5%;
}

#new-quote {
  margin-left: auto;
  margin-right: 5%;
  margin-bottom: 5%;
  background-color: orange;
  width: 100px;
  height: 40px;
  color: white;
  border-radius: 5px;
  border: 0px solid;
}
