.App {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

#quote-box {
  width: 60%;
  height: auto;
  background-color: #f2f2f2;
  border-radius: 3px;
  display: grid;
  grid-template-rows: auto 90px;
}

#text-container {
  width: 90%;
  margin: auto;
  display: grid;
  grid-template-rows: auto auto;
  height: auto;
  padding-top: 40px;
  padding-bottom: 20px;
}

#text {
  font-weight: bold;
  font-size: calc(10px + 3vmin);
}

#author {
  justify-self: end;
  padding-top: 10px;
  font-size: calc(10px + 1.6vmin);
}

#quote-box-footer {
  height: 100%;
  display: flex;
  align-items: center;
}

.tweet {
  width: 100px;
  height: 40px;
  color: white;
  border-radius: 5px;
  border: 0px solid;
}

#new-quote {
  margin-left: auto;
  margin-right: 5%;
  margin-bottom: 5%;
  width: 100px;
  height: 40px;
  color: white;
  border-radius: 5px;
  border: 0px solid;
}

a,
a:visited,
a:active {
  text-decoration: none;
  margin-left: 5%;
  margin-bottom: 5%;
}

button:focus {
  outline: none;
}
