.App {
  text-align: center;
  background-color: orange;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

#quote-box {
  width: 60%;
  /*height: 300px;*/
  /*height: 40vh;*/
  min-height: 300px;
  height: 50vh;
  background-color: #f2f2f2;
  color: #333333;
  border-radius: 5px;
  display: grid;
  grid-template-rows: 80% 20%;
}

#text-container {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  display: grid;
  grid-template-rows: 80% 20%;
}

#author {
  justify-self: end;
}

#quote-box-footer {
  height: 100%;
  display: flex;
  align-items: center;
}

#tweet-quote {
  margin-left: 5%;
}

#new-quote {
  margin-left: auto;
  margin-right: 5%;

  background-color: orange;
  width: 100px;
  height: 30px;
  color: white;
  border-radius: 5px;
  border: 0px solid;
}
